<section class=" d-flex flex-column justify-content-center align-content-center py-5 w-100 bg-white">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h2 class="text-center fw-bold py-2">¿Listo para revolucionar tus
            <span class="main-text-gradiant fw-lighter fw-bold">notificaciones?</span>
        </h2>

        <p class="mx-auto text-center">
            Comunícate con nosotros y comienza tu prueba gratuita hoy mismo.
        </p>

        <div class="card-b bg-white">
            <h3>Información de Contacto</h3>
            <small>Ponte en contacto con nosotros a través de cualquiera de estos medios</small>

            <div class="d-flex py-3">
                <div class="card-icon mb-3">
                    <i class="fa-regular fa-envelope"></i>
                </div>
                <div class="ms-3">
                    <h6>Email general</h6>
                    <h5>contacto&#64;notisafe.com</h5>
                    <small>Para consultas generales y información</small>
                </div>
            </div>

            <div class="d-flex py-2">
                <div class="card-icon mb-3">
                    <i class="fa-solid fa-mobile-screen"></i>
                </div>
                <div class="ms-3">
                    <h6>Teléfono</h6>
                    <h5>+1 (555) 123-4567</h5>
                    <small>Lunes a Viernes, 9:00 AM - 6:00 PM (EST)</small>
                </div>
            </div>
        </div>
    </div>
</section>