
strong{
    font-size: 1rem;
}

small{
    font-size: .85rem;
}

.custom-control {
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--c-subtitle-blue);

}

.custom-icon i {
    font-size: 16px;
    color: var(--c-subtitle-blue);
}

//Small
@media (max-width: 766px) {
    .custom-control {
        top: 120%;
    }
}

//md
@media (min-width: 767px) and (max-width: 991px) {
    .custom-control {
        top: 120%;
        margin-inline: 18.5rem;
    }
}

//large
@media (min-width: 992px) and (max-width: 1199px) {
    .custom-control {
        top: 120%;
        margin-inline: 26rem;
    }
}

//extra-large
@media (min-width: 1200px) {
    .custom-control {
        margin-inline: 10rem;
    }
}