<section class="container d-flex flex-column justify-content-center align-content-center">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <span class="rounded-4 border-3 px-3 py-1 bdge second-background-gradiant">🚀 Sistema de Notificaciones
            Inteligente</span>
        <h1 class="text-center fw-bold py-3">Mantente al tanto<br>
            <span class="main-text-gradiant fw-lighter fw-bold">desde cualquier lugar</span>
        </h1>

        <p class="mx-auto text-center">NotiSafe es la plataforma de notificaciones segura y confiable. Envía
            alertas a
            tu celular,
            manteniendote
            informado en todo momento.
        </p>

        <div class="row justify-content-center row-cols-md-3 w-50 gap-2 py-4">
            <button class="main-button main-background-gradiant">Boton 1</button>
            <button class="second-button">Boton 2</button>
        </div>

        <img src="/assets/hero-img.jpg" alt="" class="rounded-4 pt-2 img-fluid">


    </div>
</section>